.ai-summary
  .ai-summary-header
    .ai-left
      .ai-left-div
        img.ai-icon(src="https://cloud.luckynwa.top/profile/blog/robot.svg" alt="icon")
      .ai-left-title
        span.ai-title-text= theme.ai_summary.title
    .ai-right= theme.ai_summary.modelName
  .ai-explanation(style="display: block;" data-summary=page.summary)= theme.ai_summary.loadingText